body {
  font-family: Comic Sans MS;
  background: #171c54;
  margin: 30px;
  font-size: 17px;
}

.box {
  border: 6px solid #faa7cd;
  padding: 20px;
  margin: 20px auto;
  max-width: 600px;
  text-align: center;
  color: pink;
}

.hobbies {
  color: #b276cc;
  border: 6px solid #b276cc;
  padding: 20px;
  max-width: 300px;
  text-align: center;
}

.family {
  color: #729ee0;
  border: 6px solid #729ee0;
  padding: 20px;
  max-width: 300px;
  text-align: center;
}

.side-by-side {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

img {
  display: block;
  margin: 0;
}

